body.page-admin.page-admin-config-media-img-capt table.img-capt-table tr td {
  text-align: center;
  vertical-align: top;
  margin: 0;
  padding: 0.5em 0 0 0;
}
body.page-admin.page-admin-config-media-img-capt table.img-capt-table table.img-capt-table tr td:first-child {
  text-align: right;
  padding-right: 1em;
}
body.page-admin.page-admin-config-media-img-capt table.img-capt-table table.img-capt-table tr td:last-child {
  text-align: left;
}

body.page-admin.page-admin-config-media-img-capt #loaded_setting_form .messages {
  width: 900px;
}
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form div.form-item {
  width: 175px;
}
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form div.form-item.form-type-textfield,
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form div.form-item.form-type-select {
  margin: 0 10px 1em 0;
  padding: 0;
  float: left;
}

body.page-admin.page-admin-config-media-img-capt #loaded_setting_form,
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form_weight {
  float: left;
  width: 630px;
}
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form {
  width: 400px;
  margin-right: 1em;
}
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form_weight fieldset {
  padding-right: 0.25em;
  padding-bottom: 0.25em;
}
body.page-admin.page-admin-config-media-img-capt #loaded_setting_form_weight .fieldset-wrapper {
  overflow-y: scroll;
  max-height: 336px;
}
body.page-admin.page-admin-config-media-img-capt #loaded_setting > div {
  display: inline;
}
body.page-admin.page-admin-config-media-img-capt #edit-save-setting {
  background-image: none;
  background-color: #ccf;
  color: #00f;
}
body.page-admin.page-admin-config-media-img-capt #edit-remove-setting {
  background-image: none;
  background-color: #fcc;
  color: #f00;
}
body.page-admin.page-admin-config-media-img-capt #edit-new-setting {
  background-image: none;
  background-color: #cfc;
  color: #000;
}
body.page-admin.page-admin-config-media-img-capt table#weights_markup,
body.page-admin.page-admin-config-media-img-capt table#weights_markup td {
  margin: 0;
  padding: 0 .5em;
  border: none;
}
body.page-admin.page-admin-config-media-img-capt table#weights_markup tr td:first-child {
  text-align: right;
  padding-right: 1em;
}
